[submodule "A1/itpd"]
	path = A1/itpd
	url = https://github.com/inno-itpd/itpd
[submodule "A2/itpd"]
	path = A2/itpd
	url = https://github.com/inno-itpd/itpd
[submodule "itpd-assignments-feedback"]
	path = itpd-assignments-feedback
	url = https://github.com/inno-itpd/itpd-assignments-feedback
